/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.terraform
manifest/secret.yaml
eks-bootstrap/clusterissue.yaml
/.scribe
/.scribe-tenant
/.tinkerun
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.venv
.env
/env
/venv

src/assets/temp/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.nox/
.cache
*.swp
*.swo
*~

# PHP additional
*.log
!src/logs/deepface.log
cache/
temp/
.DS_Store
Thumbs.db
